body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    max-width: 500px;
    max-height: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #264e86;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

.game-container {
    padding: 20px;
    background-color: #365899;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

p {
    margin-bottom: 15px;
}

input[type="number"], button{
    padding: 12px 20px;
    width: calc(50% - 10px);
    margin: 5px;
    border: 1.4px solid black;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease, color 0.3s ease;
}

input[type="number"]:focus,
button:hover {
    outline: none;
    background-color: #1c4a89;
    color: #fff;
}

input[type="number"]::placeholder{
    color: #ccc;
}

#feedback {
    font-weight: bold;
    margin-top: 20px;
}

#attempts {
    color: #6c757d;
    font-style: italic;
}

#maxAttemptsInput{
    display: block;
    margin: 0 auto 10px;
}

